.container {
  display: flex;
  justify-content: center;
  margin-top: -100px;
  filter: drop-shadow(2px 2px 8px white);
  opacity: 0.9;
  overflow: hidden;
  height: 100px;
}

.brand {
  width: 300px;
  margin-left: 5px;
  margin-right: 5px;
  border-bottom: none;
  height: 100px;
  background-color: white;
  padding: 16px;
  overflow: hidden;
}
.brand:hover {
  margin-top: 4px;
  transition: 0.1s;
}

.brandLogo {
  margin: -30px;
}

.brandName1 {
  float: right;
  height: 22px;
}

.brandName2 {
  float: right;
  height: 29px;
}

.brandText {
  float: right;
  width: 180px;
  text-align: right;
  margin-top: -36px;
  line-height: 20px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .brand {
    width: 44%;
    text-align: center;
    padding: 4px;
  }

  .brandLogo {
    height: 80px;
    margin: -10px;
  }

  .brandName1 {
    display: none;
  }

  .brandName2 {
    display: none;
  }

  .brandText {
    float: none;
    width: auto;
    text-align: center;
    margin-top: 0px;
    font-size: 12px;
    line-height: 14px;
  }
}
