.container {
}

.sectionHeader {
  width: 100%;
  height: 64px;
}

.sectionHeaderIcon {
  width: 64px;
  height: 64px;
  border-radius: 32px;
  background-color: #eaeaea;
  margin: auto auto;
  padding: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.sectionHeaderIcon img {
  height: 32px;
  width: 32px;
  filter: brightness(0.7);
}

.sectionHeaderBar {
  width: 100%;
  height: 6px;
  background-color: #eaeaea;
  margin-top: -42px;
  position: relative;
  z-index: -1;
}
