.container {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px 0px;
  font-size: 12px;
  height: 36px;
  color: rgb(121, 121, 121);
  background-color: whitesmoke;
  border-top: 1px solid silver;
}

.socials {
  text-align: right;
}

.socialIcons {
  opacity: 0.5;
  width: 18px;
  height: 18px;
  margin-left: 12px;
}

.socialIcons:hover {
  cursor: pointer;
  opacity: 0.8;
}
