html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}

:root {
  --title-color: rgb(50, 50, 50);
  --footer-color: rgb(88, 88, 88);
  --main-color: #785de8;
  --button-degree-background: -webkit-linear-gradient(330deg, #5263f1, #2ae7d8);
}

.btn {
  border-radius: 20px;
  box-shadow: 0px 10px 30px 0px rgb(0 0 0 / 10%);
  transition: opacity 0.2s ease, box-shadow 0.2s ease;
  width: auto;
  padding: 16px 20px;
  background: var(--button-degree-background);
  color: white;
  font-weight: bold;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
}

a,
a:hover,
a:visited,
a:active {
  color: inherit;
  text-decoration: none;
}

.page-box {
  background-color: white;
  padding: 20px;
  border-top: 6px solid #aa03ff;
  filter: drop-shadow(0px 0px 10px silver);
}

.icons {
  float: left;
  margin-right: 6px;
}

.mw-50px {
  max-width: 50px;
}

.mw-75 {
  min-width: 75%;
}

.page-sub-title {
  background-color: #54a7e4;
  padding: 6px 10px;
  font-size: 18px;
  color: white;
  margin-bottom: 20px;
}

h4 {
  font-weight: bolder;
  font-size: 19px;
}

.card-text {
  margin-bottom: 0px !important;
}

.shadow {
  filter: drop-shadow(0px 0px 6px rgba(0, 0, 0, 0.5));
}
