.container {
  position: fixed;
  right: 14px;
  top: 14px;
  z-index: 2;
}

.active {
  font-weight: bold;
  opacity: 1 !important;
  background-color: #cccccc;
}

.btn {
  cursor: pointer;
  border: none;
  padding: 8px;
  opacity: 0.5;
  font-size: 12px;
}

.left {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.right {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}
