.container {
  margin-bottom: 10px;
}

.submit {
  float: right;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 4px;
  color: white !important;
  background-image: -webkit-linear-gradient(
    330deg,
    rgb(0, 228, 216),
    rgb(132, 3, 255)
  );
}

.submit:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(
    360deg,
    rgb(0, 228, 216),
    rgb(132, 3, 255)
  );
}

.errorMessage {
  margin-top: 10px;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .submit {
    width: 100%;
  }

  .errorMessage {
    padding-top: 60px;
    text-align: center;
  }
}

.submit:disabled,
.submit[disabled] {
  color: silver;
  opacity: 0.9;
  cursor: not-allowed;
}
