.container {
  display: flex;
  justify-content: center;
}

.menu {
  margin-top: 24px;
  padding: 1px 20px;
  border-radius: 20px;
  background-color: white;
  position: absolute;
  height: 50px;
}

.menuButton {
  font-size: 18px;
  display: inline-block;
  color: grey !important;
  text-decoration: none;
  margin: 10px 10px 0px;
}

.menuButton:hover {
  color: black !important;
}

.active {
  font-weight: bold;
  font-size: 19px;
}
