.container {
  transition: 0.2s ease-out;
  display: inline-block;
  background-color: white;
  position: fixed;
  top: 60px;
  width: 240px;
  bottom: 36px;
  right: 0;
  border-left: 10px solid silver;
  padding: 10px;
}

.open {
  right: 0px;
  opacity: 0.9;
}

.close {
  right: -240px;
  opacity: 0.5;
}

.menuIcon {
  position: fixed;
  right: 10px;
  top: 14px;
  height: 32px;
  z-index: 90;
}
.menuIcon:hover {
  cursor: pointer;
}

.menuButtonMobile {
  display: block;
  border-bottom: 1px solid silver;
  font-size: 16px;
  padding: 6px;
}

.menuButtonMobile:hover {
}

.active {
  font-weight: bold;
}

.mobileLanguageChanger {
  margin-top: 20px;
  float: right;
}

.mobileLanguageChangerButton {
  background-color: white;
  border-radius: 10px;
  border: 1px solid silver;
  margin-left: 8px;
  font-size: 14px;
}
