.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: -10px;
}

.item {
  height: 70px;
  width: auto;
  opacity: 0.6;
}

.item:hover {
  opacity: 1;
}
