.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iconsContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icons {
  width: 48px;
  border-radius: 24px;
  margin-left: 12px;
  filter: drop-shadow(2px 2px 4px silver);
}

.iconsLink:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
}
