.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.iconsContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.icons {
  width: 48px;
  border-radius: 24px;
  margin-left: 12px;
  filter: drop-shadow(2px 2px 4px silver);
}

.iconsLink:hover {
  cursor: pointer;
  border: 1px solid whitesmoke;
}

.moreBox {
  border: 1px solid #dedede;
  border-radius: 2px;
  width: 50%;
  max-width: 600px;
  margin: auto auto;
  text-align: center;
  padding: 10px;
  margin-top: 30px;
  user-select: none;
}

.plusIcon {
  margin-top: -10px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  top: -50px;
  font-size: 52px;
  font-weight: 800;
  margin: auto auto;
  height: 80px;
  width: 80px;
  border-radius: 100px;
  color: white !important;
  background-image: -webkit-linear-gradient(
    330deg,
    rgb(0, 228, 216),
    rgb(132, 3, 255)
  );
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.5));
  cursor: pointer;
}

.plusIcon:hover {
  filter: drop-shadow(1px 1px 4px rgba(0, 0, 0, 0.8));
  opacity: 0.95;
}

.plusContent {
  margin-top: -30px;
}

@media screen and (max-width: 1024px) {
  .moreBox {
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}
