.box {
  display: flex;
  margin-bottom: 20px;
}

.icon {
  width: 36px;
  -webkit-filter: drop-shadow(0px 0px 6px silver);
  filter: drop-shadow(0px 0px 6px silver);
  border-radius: 36px;
  margin-right: 10px;
  margin-top: 30px;
}

.summary {
  text-align: left;
  margin-right: 10px;
  margin-bottom: 4px;
}
